@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa&family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
    /* font-family: 'Bebas Neue', cursive; */
    /* font-family: 'Changa', sans-serif; */
    /* font-family: 'Sen', sans-serif; */
    /* font-family: 'IBM Plex Mono', monospace; */
    cursor: default;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgb(var(--textColor));
}


body {
    background-color:var(--bG);
    overflow: hidden;
    --sL: 8vmax;
    --pGap: 0.5vmax;
    --a: 0;
    /* colors */
    /* light */
    
    --bG: #909590;
    --bG: white ;
    --primaryC: #2c302e;
    --secondaryC:71, 74, 72;
    --tertiaryC: #42634D;
    --accentC: 255, 67, 95;
    --textColor: 255, 255, 255;
    /* dark */
    /* --bG: #FFF7FB;
    --primaryC: white;
    --secondaryC: 255, 205, 188;
    --tertiaryC: #e29fff;
    --accentC: #ff435f;
    --textColor: #001A23; */
}

button {
    background: none;
    outline: none;
    border: none;
}

span {
    overflow: hidden;
}

input {
    color: black;
}

::-webkit-scrollbar {
    /* height: var(--pGap);
    width: var(--pGap); */
    height: 0;
    width: 0;
}
/* 
::-webkit-scrollbar-thumb {
    background-color: rgba(var(--secondaryC), 0.75);
    border-radius: calc(0.5 * var(--pGap));
}

::-webkit-scrollbar-corner {
    opacity: 0;
} */

#calendar, .header, .summary, .timeline, .detailed div, .nav > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header, .detailed div {
    justify-content: space-between;
}

.blur {
    filter: blur(1px) brightness(75%) grayscale(0.2);
    transition: filter 0.2s ease-in-out;
}

.card {
    background-color: var(--primaryC);
    padding: var(--pGap);
    border-radius: 0.75vmax;
    box-shadow: 0 0 calc(0.5 * var(--pGap)) rgb(105, 105, 105);
    /* filter: drop-shadow(0 0 calc(0.5 * var(--pGap)) black); */
}

.header {
    padding-left: 1vmax;
    font-size: 2em;
    font-weight: 600;
}

.summary {
    position: relative;
    height: 100vh;
    z-index: 1;
    padding: var(--pGap);
    gap: var(--pGap);
    align-items: stretch;
}

.summary > * {
    position: relative;
}

#calendar {
    gap: var(--pGap);
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    align-items: stretch;
    z-index: 1;
}

#expansion {
    flex: 1 0 30%;
    z-index: 0;
}

#month {
    display: grid;
    align-content: center;

    flex: 1 1 calc(0.5 * var(--sL));
}

.monthDays {
    --gap: calc(0.025 * var(--sL));
    position: relative;
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(7, var(--sL));
    grid-template-rows: repeat(5, var(--sL));
}

.monthDays > * {
    border-radius: 0.25vmax;
}

.day {
    position: relative;
    --h: 1.75em;
    z-index: 1;
    /* font-weight: 600; */
    background-color: rgb(var(--secondaryC));
    filter: drop-shadow(0 0 calc(0.5 * var(--gap)) rgba(0, 0, 0, 0.4));
}

.day::before, .day::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.5vmax;
    border-radius: inherit;
} 

.day::before {
    top: var(--h);
    background: linear-gradient(to top, transparent, rgba(var(--secondaryC), 0.75));
}

.day::after {
    bottom: 0;
    background: linear-gradient(to bottom, transparent, rgba(var(--secondaryC), 0.75));
}

.day > div:first-of-type {
    height: var(--h);
    line-height: 100%;
    padding: 0.5em 0.5em 0;
}

.day > div:last-child {
    gap: 0.2vmax;
    padding: 0 0.25vmax;
    display: flex;
    overflow: scroll;
    align-items: stretch;
    flex-direction: column;
    height: calc(var(--sL) - var(--h));
}

.day .event:last-of-type {
    margin-bottom: 0.5vmax;
}

.day .event:first-of-type {
    margin-top: 0.5vmax;
}

#controlPanel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    /* background: blueviolet; */
    gap: var(--gap);
    border-bottom-right-radius: 0.5vmax;
    /* border: 1px solid rgba(255, 255, 255, 0.16) */
}

#controlPanel > * {
    position: relative;
    width: 100%;
    height: 100%;
}

#controlPanel > *::before, #controlPanel > *::after {
    position: absolute;
    border-radius: 7.5%;
}

#controlPanel > *::before {
    inset: 0;
    content: attr(icon);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background: color-mix(in srgb, rgb(var(--secondaryC)), rgb(228, 13, 13));
}

#controlPanel > *:active::before {
    background: color-mix(in srgb, rgb(var(--secondaryC)), rgb(150, 0, 0));
}

#controlPanel > *::after {
    content: "";
    opacity: 0;
    z-index: 1;
    inset: -1px;
    transition: all 1s;
    background: conic-gradient(from var(--a), rgb(var(--accentC)), white, transparent 25%, transparent, transparent,rgb(var(--accentC)));
}

#controlPanel > *:hover::after {
    opacity: 1;
}

#controlPanel > *:active::after {
    opacity: 0;
}

#dataPanel {
    gap: 0 var(--pGap);
    grid-template-columns: max-content 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: column;
    grid-column: 5/-2;
    background: var(--tertiaryC);
    margin-left: 0.1vmax;
}

#dataPanel, #controlPanel {
    display: grid;
    margin-top: 0.1vmax;
    border-top-left-radius: 0.15vmax;
    border-top-right-radius: 0.15vmax 0.25vmax;
    border-bottom-left-radius: 0.25vmax 0.15vmax;
}

#dataPanel > * {
    text-shadow: 0.1ex 0.1ex black;
}

#dataPanel div {
    white-space: pre;
    font-size: 1em;;
}

#dataPanel div:first-child {
    /* i want the background to be a canvas using collatz conjecutre */
    margin: calc(var(--pGap) / 2);
    width: calc(var(--sL) - 0.25vmax - var(--pGap) / 2);
    font-size: 3em;
    font-weight: 500;
    grid-row: 1/ -1;
    background: rgb(142, 142, 200);
    filter: drop-shadow(0 0 0.2ex rgba(0, 0, 0, 0.25));
    border-radius: 5%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#focus {
    position: absolute;
    width: var(--sL);
    height: var(--sL);
    margin: var(--pGap);
    transform-origin: center;
}

#focus::after, #focus::before {
    content: "";
    position: absolute;
    inset: calc(-1 * var(--gap));
    border-radius: calc(2 * var(--gap));
    /* background: conic-gradient(from var(--a) , #537A5A, #648F6C, #76A281, #89B195, #9AE19D, #9AE19D, #9AE19D, #89B195, #76A281, #648F6C, #537A5A); */
    background: conic-gradient(from var(--a),
    #ffffff,
    #D7F3D5,
    #B7E6B8,
    #96D996,
    #76CC7A,
    #57BF5D,
    #39B241,
    #1DA523,
    #16921c,
    #1DA523,
    #39B241,
    #57BF5D,
    #76CC7A,
    #96D996,
    #B7E6B8,
    #D7F3D5,
    #ffffff);
    background: conic-gradient(from var(--a),#FFA07A,#FFB6C1,#FFE4C4,#90EE90,#87CEFA,#ADD8E6,#D8BFD8,#E0FFFF,#FFEFD5,#F0E68C,#F0E68C,#FFEFD5,#E0FFFF,#D8BFD8,#ADD8E6,#87CEFA,#90EE90,#FFE4C4,#FFB6C1,#FFA07A);
    background: repeating-conic-gradient(from var(--a), rgba(211,211,211,1) 0%, rgba(217,210,233,1) 7%, rgba(174,214,241,1) 13%, rgba(196,212,181,1) 20%, rgba(255,255,224,1) 28%, rgba(255,229,180,1) 35%, rgba(243,214,228,1) 43%);
    background: white;
}

#focus::before {
    filter: blur(1px);
}

#today {
    background: rgb(var(--accentC));
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

#eventDialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    width: calc(5 * var(--sL));
    flex-direction: column;
    align-items: flex-start;
    padding-top: 2.5vmax;
    border-radius: 0.3em;
}

#eventDialog > div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* width: 70%; */
}

.event {
    padding: 0.075em 0.2em;
    display: grid;
    grid-template-columns: 1fr min-content;
    border-radius: 0.2em;
}

.event span:first-child {
    font-size: 0.85em;
}

.event .star {
    font-size: 1.15em;
}

#submitExit {
    position: absolute;
    right: 0;
    top: 0;
    height: 1.5vmax;
    width: 1.5vmax;
    fill: none;
    transform: translate(50%, -50%) scaleX(0.9) rotate(45deg) translateY(100%);
}

#submitExit path {
    stroke: rgb(var(--textColor));
    stroke-width: 30;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dasharray: 79.375;
    transition: stroke-dasharray 0.3s;
}

#submitExit[data-valid="1"] path {
    stroke: green;
    stroke-dasharray: 119.0625 140;
}

#expansion {
    overflow: hidden;
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: var(--pGap);
}

.nav {
    display: grid;
    grid-auto-flow: column;
    position: relative;
    padding: 0 var(--pGap);
    gap: var(--pGap);   
}

.nav > * {
    font-size: 1em;
    position: relative;
    line-height: 100%;
    z-index: 1;
    width: 1.5vmax;
    height: 1vmax;
}

#month .nav > * {
    width: auto;
}

#expansion .nav div {
    position: absolute;
    left: var(--pGap);
    transform: scale(1.5);
    transform-origin: center;
    background: rgb(var(--accentC));
    border-radius: 15%/20%;
}

.view {
    position: relative;
    background: inherit;
}

.view > * {
    padding: var(--pGap);
    height: 100%;
    width: 100%;
    overflow: auto;
    filter: drop-shadow(0 0 calc(var(--pGap) / 4) rgba(0, 0, 0, 0.3));
    border-radius: 0.25vmax;
    position: absolute;
    background: inherit;
    transform-origin: center;
    outline: 0.5ex solid transparent;
    transition: outline-color 1s ease-in-out, height 0.5s ease-in-out;
}

#list {
    display: flex;
    flex-direction: column;
    gap: var(--pGap);
}

/* #list > div:first-child {
    font-size: 2em;
    line-height: 100%;
    font-weight: 800;
    padding: 0.5ex 0.5ex 0;
    border-bottom: 1px solid white;
} */

#day {
    display: grid;
    gap: 1% 0;
    overflow-y: hidden;
    grid-auto-flow: row;
    grid-template-rows: 1lh;
    grid-template-columns: repeat(96, max-content);
}

#week {
    --dayWidth: calc(0.5 * var(--sL));
}

#expandDiv {
    position: absolute;
}

.hour {
    text-align: center;
    position: relative;
    min-width: 8ch;
    grid-column: span 4;
}

.hour::after {
    position: absolute;
    content: "";
    z-index: -1;
    left: 0;
    height: 89vh;
    width: 100%;
    border-left: 1px dashed rgba(255, 255, 255, 0.415);
    background: repeating-linear-gradient(to right, rgba(var(--secondaryC), 0.5) 0 25%, transparent 25% 50%);
}

.eventGroup {
    grid-column: span 4;
    position: relative;
    width: 100%;
    font-size: 0.75em;
    border-radius: 0.75ex;
}

.eventGroup:not(.eventGroup[multiplicity="1"]):not(.expanded)::after {
    position: absolute;
    z-index: 200;
    content: attr(multiplicity);
    top: 0;
    right: 0;
    height: 3ex;
    width: 3ex;
    line-height: 3ex;
    text-align: center;
    transform: translate(55%, -40%);
    border-radius: 50%;
    background-color: rgb(var(--accentC));
}

.eventGroup > div:first-child {
    z-index: 100;
}

.expanded {
    z-index: 1;
}

.eventCard {
    order: 1;
    font-weight: 400;
    background: var(--bColor);
}

.eventCard p {
    white-space: pre-wrap;
}

.eventCard:hover {
    filter: brightness(110%);
}

.listCard {
    transform-origin: top left;
    font-size: 0.85em;
    border-radius: 0.5ex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1ex;
    padding: 1ex;
}

.listCard div {
    display: flex;
    justify-content: space-between;
}
.listCard span:first-of-type {
    font-weight: 500;
}

.listCard span {
    height: 100%;
    max-width: 45%;
    vertical-align: text-bottom;
}

.listCard p {
    background: linear-gradient(65deg, var(--bColor), var(--bColor), var(--primaryC)), radial-gradient(circle at 0% 100%, var(--primaryC), var(--bColor));
    background-blend-mode: multiply;
    border-radius: inherit;
    box-shadow: 0 0 0.5ex black;
    padding: 0.5ex 1ex;
    font-weight: 350;
}

.hourCard {
    position: absolute;
    width: 28ch;
    height: 100%;
    top: 0;
    border-radius: inherit;
    padding: 0.5ex;
    padding-left: 0.75ex;
    font-weight: 600;
    overflow: hidden;
    outline: 0.5ex solid transparent;
    transition: outline-color 1s ease-in-out, height 0.5s ease-in-out;
}

.hourCard:first-child {
    position: relative;
}

.hourCard p {
    white-space: pre;
    overflow: hidden;
    /* width: 100%; */
}

.clamp .hourCard p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    align-self: center;
}

.showNewEvent {
    outline-color: rgb(var(--accentC));
}

#dayView[group-expanded="true"] > *:not(.hour, .expanded) {
    filter: blur(0.75px) grayscale(50%);
}

.expanded > * {
    /* outline: 0.5ex slateblue solid; */
    box-shadow: 0 0 2ex rgba(0, 0, 0, 0.75);
}

#expansion .material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 200,
  'opsz' 48
}

#dataPanel > div:not(:first-child) {
    display: flex;
    align-items: center;
}

.material-symbols-rounded.star {
    font-size: 1em;
    font-variation-settings:
  'FILL' 1,
  'wght' 200,
  'GRAD' 200,
  'opsz' 48;
    color: gold;
}

.material-symbols-rounded.star[boolean="false"] {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 200,
    'opsz' 48;
    color: transparent;
    transition: color 0.25s;
}

.event:hover > .material-symbols-rounded.star[boolean="false"] {
    color: rgba(var(--textColor), 0.8);
} 

.select {
    outline: 0.15vmax solid rgb(0, 136, 255);
}

