@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
    cursor: default;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgb(var(--textColor));
    /* transition: background 1s ease-in-out; */
}


body {
    /* overflow: hidden; */
    --sL: 8vmax;
    --pGap: 0.5vmax;
    --a: 0;
    background-color:var(--bG);
}

body.dark {
    --lightness: 35%;
    --accentC: 230, 50%, 40%;
    --bG: #7d7d7d;
    --bC: 125, 125, 125;
    --primaryC: 44, 48, 46;
    --secondaryC: 53, 61, 61;
    --textColor: 255, 255, 255;
}

body.light {
    --lightness: 67.75%;
    --bG: #ffffff;
    --bC: 73, 73, 77;
    --accentC: 230, 50%, 62.75%;
    --primaryC: 200, 201, 210;
    --secondaryC: 242, 244, 255;
    --textColor: 40, 10, 40;
}

button {
    background: none;
    border: none;
}

span {
    overflow: hidden;
}

input, textarea {
    /* color: black; */
    background: linear-gradient(to top, rgba(var(--textColor), 0.6) 0 1px, rgba(var(--secondaryC), 0.4) 1px 100%);
    border: none;
    border-radius: 0.25ex;
    width: 100%;
    font-size: 1.15em;
}

input:focus, textarea:focus {
    outline: 2px solid rgba(var(--textColor), 0.3);
}

input[type="time"] {
    width: min-content;
}

input[type="time"]:-webkit-

textarea {
    white-space: pre-wrap;
    word-wrap: break-word;
    display: inline-block;
    resize: vertical;
    max-height: 10lh;
    min-height: 2lh;
}

::-webkit-scrollbar {
    height: var(--pGap);
    width: var(--pGap);
}

.day div::-webkit-scrollbar {
    height: 0;
    width: 0;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(var(--bC), 0.75);
    border-radius: calc(0.5 * var(--pGap));
}

::-webkit-scrollbar-corner {
    opacity: 0;
}

dialog[open] ~ .summary {
    filter: blur(2px) grayscale(0.5) brightness(82%);
    transition: filter 0.25s ease-in-out;
}

#calendar, .header, .summary, .timeline, .detailed div, .nav > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header, .detailed div {
    justify-content: space-between;
}

.card {
    background-color: rgb(var(--primaryC));
    padding: var(--pGap);
    border-radius: 0.75vmax;
}

.header {
    padding-left: 1vmax;
    font-size: 2em;
    font-weight: 600;
}

.summary {
    position: relative;
    height: 100vh;
    z-index: 1;
    padding: var(--pGap);
    gap: var(--pGap);
    align-items: stretch;
}

.summary > * {
    position: relative;
}

#calendar {
    gap: var(--pGap);
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    align-items: stretch;
    z-index: 1;
}

#expansion {
    flex: 1 0 30%;
    z-index: 0;
}

#month {
    display: grid;
    align-content: center;

    flex: 1 1 calc(0.5 * var(--sL));
}

.monthDays {
    --gap: calc(0.025 * var(--sL));
    position: relative;
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(7, var(--sL));
    grid-template-rows: repeat(5, var(--sL));
    overflow: hidden;
}

.monthDays > * {
    border-radius: 0.25vmax;
    z-index: 1;
}

.monthDays::before {
    position: relative;
    z-index: 1;
    content: "";
    outline: var(--pGap) solid rgb(var(--primaryC));
    outline-offset: var(--gap);
    background: transparent;
    border-radius: 0.25vmax;
    grid-area: 1 / 1 / -1 / -1;
}

.day {
    --op: 1;
    --h: 1.75em;
    --baseColor: color-mix(in srgb, rgba(var(--secondaryC), var(--op)), rgb(var(--primaryC)));
    position: relative;
    transition: outline 0.25s;
    outline: 2px solid transparent;
    background-color: var(--baseColor);
}

.day.select {
    outline: 2px solid rgba(var(--bC), 0.5);
}

.day:not(.select):hover {
    outline: 2px dashed rgba(var(--bC), 1);
}

.day::before, .day::after {
    --op: 0.72;
    content: "";
    position: absolute;
    width: 100%;
    height: 0.5vmax;
    border-radius: inherit;
} 

.day::before {
    top: var(--h);
    background: linear-gradient(to top, transparent, var(--baseColor));
}

.day::after {
    bottom: 0;
    background: linear-gradient(to bottom, transparent, var(--baseColor));
}

.day > div:first-of-type {
    font-weight: 500;
    height: var(--h);
    line-height: 100%;
    padding: 0.5em 0.5em 0;
}

.day > div:last-child {
    gap: 0.2vmax;
    padding: 0.5vmax 0.25vmax;
    display: flex;
    overflow: scroll;
    align-items: stretch;
    flex-direction: column;
    height: calc(var(--sL) - var(--h));
}

#controlPanel {
    display: grid;
    grid-row-start: 5;
    grid-column-start: 7;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: var(--gap);
    position: relative;
    background-color: rgb(var(--primaryC));
}

#controlPanel > * {
    --background: var(--accentC);
    position: relative;
    width: 100%;
    height: 100%;
}

#controlPanel > *[icon="add"] {
    --background: 149, 82%, 35%;
}

#controlPanel > *[icon="delete"] {
    --background: 6, 90%, 49%;
}

#controlPanel > *::before, #controlPanel > *::after {
    position: absolute;
    border-radius: 0.25vmax;
}

#controlPanel > *::before {
    inset: 0;
    content: attr(icon);
    font-size: 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: transform;
    transition-duration: 0.25s;
    background: color-mix(in hsl, hsl(0, 0%, 15%) 5%, hsl(var(--background)));
}

#controlPanel > *:active::before {
    transform: scale(0.95);
    background: color-mix(in hsl, hsl(0, 0%, 15%) 2.5%, hsl(var(--background)));
    transform-origin: center;
}

#dataPanel {
    grid-row-start: 5;
    gap: 0 var(--pGap);
    grid-template-columns: max-content 1fr;
    box-shadow: inset 0 0 1ex rgba(0, 0, 0, 0.25);
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: column;
    grid-column: 5/-2;
    background: var(--tertiaryC);
    background: transparent;
    margin-left: 0.1vmax;
}

#dataPanel, #controlPanel {
    display: grid;
    background: rgba(var(--primaryC), 0.75);
    margin-top: 0.1vmax;
}

#dataPanel .star {
    font-size: 1.5em;
}

#dataPanel div {
    white-space: pre;
    font-size: 1em;
    text-align: ;
    display: inline-flex;
    justify-content: baseline;
}

#dataPanel div:first-child {
    margin: calc(var(--pGap) / 2);
    width: calc(var(--sL) - 0.25vmax - var(--pGap) / 2);
    font-size: 3em;
    font-weight: 500;
    grid-row: 1/ -1;
    justify-content: center;
    align-items: center;
}

#focus {
    position: absolute;
    width: var(--sL);
    height: var(--sL);
    margin: var(--pGap);
    z-index: 0;
    transform-origin: center;
    border-radius: 50%;
    background: color-mix(in hsl, rgb(var(--textColor)) 25%, hsl(var(--accentC)));
    transform: scale(2);
    filter: blur(15px);
}

#today {
    background: hsl(var(--accentC));
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

#eventDialog {
    position: absolute;
    top: 50%;
    border: none;
    box-shadow: 0 0 1vmax rgba(0, 0, 0, 0.4);
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    width: calc(5 * var(--sL));
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 2.5vmax;
    border-radius: 0.75ex;
}

#eventDialog > div {
    display: flex;
    gap: var(--pGap);
    /* width: min-content; */
    flex-direction: column;
    align-items: stretch;
}

#eventDialog  > div *:not(input[type="range"]) {
    font-weight: 250;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
}

#colorVisualizer {
    --h: 180;
    --s: 50%;
    height: 3vmax;
    /* width: 3vmax; */
    border-radius: 0.5ex;
    background: hsl(var(--h), var(--s), var(--lightness));
}

.event {
    order: 1;
    padding: 0.075em 0.2em;
    display: grid;
    grid-template-columns: 1fr min-content;
    border-radius: 0.2em;
}

.event span:first-child {
    font-size: 0.85em;
}

.event .star {
    font-size: 1.15em;
}

#submitExit {
    position: absolute;
    right: 0;
    top: 0;
    height: 1.5vmax;
    width: 1.5vmax;
    fill: none;
    transform: translate(50%, -50%) rotate(45deg) translateY(100%);
}


#submitExit path {
    fill:none;
    stroke-width: 20;
    stroke-miterlimit:5.8;
    stroke: rgb(var(--textColor));
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dasharray: 79.375;
    transition: stroke-dasharray 0.3s;
}

#submitExit[data-valid="1"] path {
    stroke: green;
    stroke-dasharray: 119.0625 140;
}

#expansion {
    overflow: hidden;
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: var(--pGap);
}

.nav {
    display: grid;
    grid-auto-flow: column;
    position: relative;
    padding: 0 var(--pGap);
    gap: var(--pGap);   
}

.nav > * {
    position: relative;
    line-height: 100%;
    z-index: 1;
    width: 2vmax;
    height: 1vmax;
}

#month .nav > * {
    font-size: 1em;
    width: auto;
}

#expansion .nav div {
    position: absolute;
    left: var(--pGap);
    transform: scale(1.5);
    transform-origin: center;
    background: hsl(var(--accentC));
    box-shadow: inset 0 0 0.3ex rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(var(--textColor));
    border-radius: 0.15ex;
}

.view {
    position: relative;
    background: inherit;
}

.view > * {
    padding: var(--pGap);
    height: 100%;
    width: 100%;
    overflow: auto;
    box-shadow: 0 0 var(--pGap) rgba(0, 0, 0, 0.05);
    border-radius: 0.25vmax;
    position: absolute;
    background: inherit;
    transform-origin: center;
    outline: 0.5ex solid transparent;
    transition: outline-color 1s ease-in-out, height 0.5s ease-in-out;
}

#list {
    display: flex;
    flex-direction: column;
    gap: var(--pGap);
}

#day {
    --hourWidth: 24ch;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
}

.hour-container {
    display: grid;
    grid-auto-flow: column;
    height: min-content;
    position: sticky;
    top: calc(-1 * var(--pGap));
    grid-area: 1 / 1 / -1 / -1;
}

#day::after {
    content: "";
    position: sticky;
    bottom: 0;
    height: var(--pGap);
    width: 100%;
    background: rgb(var(--primaryC));
}

.hourCard-container  {
    display: grid;
    gap: 0.5ex 0;
    min-height: 100%;
    height: min-content;
    padding-top: 1.5lh;
    grid-area: 1 / 1 / -1 / -1;
    grid-template-columns: repeat(288, calc(var(--hourWidth) / 12));
    background:
    repeating-linear-gradient(to right, rgba(var(--secondaryC), 0.55) 0 calc(var(--hourWidth) / 12), 
    color-mix(in srgb, transparent, black) calc(var(--hourWidth) / 12) calc(var(--hourWidth) / 6));
    background-blend-mode: multiply;
}


#week {
    --dayWidth: calc(0.5 * var(--sL));
}

#expandDiv {
    position: absolute;
}

.hour{
    width: calc(var(--hourWidth) / 0.75);
    overflow: hidden;
    text-overflow: clip;
    font-size: 0.75em;
    background: color-mix(in srgb, black, rgb(var(--secondaryC)));
    border-right: 1px dotted lemonchiffon;
}

.eventCard {
    order: 1;
    font-weight: 400;
    background: hsl(var(--bColor), var(--lightness));
}

.eventCard p {
    white-space: pre-wrap;
}

.eventCard:hover {
    filter: brightness(110%);
}

.listCard {
    transform-origin: top left;
    font-size: 0.85em;
    border-radius: 0.5ex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1ex;
    padding: 1ex;
}

.listCard div {
    display: flex;
    justify-content: space-between;
}
.listCard span:first-of-type {
    font-weight: 500;
}

.listCard span {
    height: 100%;
    max-width: 45%;
    vertical-align: text-bottom;
}

.listCard p {
    background: radial-gradient(circle at 0% 100%, rgb(var(--primaryC)), transparent), linear-gradient(65deg, transparent, transparent, rgb(var(--primaryC)));
    background-blend-mode: multiply;
    border-radius: inherit;
    box-shadow: 0 0 0.5ex black;
    padding: 0.5ex 1ex;
    font-weight: 350;
}

.hourCard {
    font-weight: 500;
    text-rendering: optimizeLegibility;
    font-size: 0.85em;
    border-radius: 1ex;
    min-height: calc(2lh + 2ex);
    outline: 0.5ex solid transparent;
    border-left:1ex solid transparent;
    transition: outline-color 1s ease-in-out, height 0.5s ease-in-out;
}

.hourCard div {
    white-space: pre;
    margin: 1ex 1ex 1ex 0;
    overflow: hidden;
    position: sticky;
    left: 0;
    width: min-content;
    max-width: calc(100% - 2ex);
}

.showNewEvent {
    outline-color: hsl(var(--accentC));
}

#expansion .material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 200,
  'opsz' 48;
}

#month .material-symbols-rounded {
    font-variation-settings:
    'FILL' 0,
    'wght' 1000,
    'GRAD' 1000,
    'opsz' 48;
} 

#dataPanel > div:not(:first-child) {
    display: flex;
    align-items: center;
}


.star {
    font-size: 1em;
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 200,
    'opsz' 48;
    color: transparent;
    transition: color 0.25s;
}

.starred .star, #dataPanel .star {
    font-variation-settings:
    'FILL' 1,
    'wght' 200,
    'GRAD' 200,
    'opsz' 48;
    color: gold;
}

.starred {
    order: 0;
}

.starred:not(.event) {
    color: gold;
}

.event:not(.starred):hover > .star {
    color: rgba(var(--textColor), 0.8);
} 

.select {
    outline: 0.15vmax solid rgb(0, 136, 255);
}

.tentative {
    opacity: 0.5;
}